{% extends 'base.html'%}

{% block content %}
{% load crispy_forms_tags %}
<div class="row" style="margin: 0;" >


     {% include 'dashboard/sidebar.html'%}

    <div class="col-md-9" style="background-color: #ffffff; padding: 30px;">
        <h5 style="color: #333; margin: 0; border-left: 3px solid #9c9c9c; padding:2px;">ADD NEW POST</h5><BR>


           <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div style="margin-bottom: 15px;">
            {{form | crispy }}
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100%; ">SUBMIT</button>
    </form>
        
    </div>
</div>

{% endblock %}