{% extends 'base.html' %}

{% block content %}
<div class="row" style="margin: 0;" >

   {% include 'dashboard/sidebar.html'%}

    <div class="col-md-9" style="background-color: #ffffff; padding: 30px;">
        
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
            <h3 style="color: #333; margin: 0; border-left: 3px solid #9c9c9c; padding:2px;" >DASHBOARD OVERVIEW</h3>
            
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.05); border-left: 5px solid #3498db;">
                    <h5 style="color: #7f8c8d; font-size: 0.9rem; text-transform: uppercase;">TOTAL BLOGS</h5>
                    <p style="font-size: 2rem; font-weight: bold; margin: 0; color: #2c3e50;">{{ blogs_count }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.05); border-left: 5px solid #2ecc71;">
                    <h5 style="color: #7f8c8d; font-size: 0.9rem; text-transform: uppercase;">TOTAL CATEGORIES</h5>
                    <p style="font-size: 2rem; font-weight: bold; margin: 0; color: #2c3e50;">{{ category_count }}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}