{% extends 'base.html' %}

{% block content %}
{% if perms.auth.view_user %}
<div class="row" style="margin: 0;" >


     {% include 'dashboard/sidebar.html'%}
        
   <div class="col-md-9" style="background-color: #ffffff; padding: 30px;">
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 style="color: #333; margin: 0; border-left: 3px solid #9c9c9c; padding:2px;">
            ALL POSTS
        </h5>
        <a href="{% url 'add_post' %}" class="btn" style="color:black; background-color: #d4d4d4ad;">ADD NEW</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th> 
                <th>status</th>
                <th>Featured</th>
                <th class="text-right">Action</th> </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ post.title}}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.author}}</td>
                <td>{{ post.status}}</td>
                <td style="text-align: center;">{% if post.is_featured  %}<i class="fa fa-check text-success"></i> {% else %}<i class="fa fa-times text-danger"></i> {% endif %}</td>
                <td class="text-right"> <a href="{% url 'edit_post' post.id %}"><i class="fa fa-edit text-primary"></i></a>&nbsp;
                    <a href="{% url 'delete_post' post.id %}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% else %}
    <h1 class="text-center text-danger">Permission Denied</h1>
{% endif %}
</div>


{% endblock %}