


<div class="col-md-3" style="padding: 0; background-color: #ffffff; border-right: 1px solid #dee2e6;">
    
        <div class="nav flex-column nav-pills" style="padding: 20px 0;">
            
            <div style="padding: 10px 20px; color: #000000; font-size: 1.2rem; font-weight: bold; border-bottom: 1px solid #9a9a9a; margin-bottom: 20px;">
               <span style="color: #3986cd;">Welcome, <b>{{ user }}</b> </span> <br> OVERVIEW PANEL
            </div>
            <a href="{% url 'dashboard' %}" 
   class="nav-link" 
   style="padding: 12px 20px; transition: 0.3s; 
          {% if '/dashboard/' == request.path %} 
              background-color: #d4d4d4ad; color: #000000; 
          {% else %} 
              background-color: transparent; color: #000000; 
          {% endif %}">
    DASHBOARD
</a>
           <a href="{% url 'categories' %}" 
   class="nav-link" 
   style="padding: 12px 20px; transition: 0.3s; 
          {% if '/categories/' in request.path %} 
              background-color:  #d4d4d4ad; color: #000000;
          {% else %} 
              background-color: transparent; color: #000000; 
          {% endif %}">
    CATEGORIES
</a>
          <a href="{% url 'posts' %}" 
   class="nav-link" 
   style="padding: 12px 20px; transition: 0.3s; 
          {% if '/posts/' in request.path %} 
              background-color:  #d4d4d4ad; color: #000000;
          {% else %} 
              background-color: transparent; color: #000000; 
          {% endif %}">
    POSTS
</a>
            <a href="#" class="nav-link" style="color: #e74c3c; padding: 12px 20px; transition: 0.3s; margin-top: 50px;">LOGOUT</a>
        </div>
    </div>